/******************************event modal********************************/
#event_modal {
    position: absolute;
    min-width: 400px;
    background-color: #fff;
    z-index: 100;
    display: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
#em_header {
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px #ced4da solid;
    padding: 15px;
}
#em_header i{
    color: #808080;
}
#em_title {
    color: #808080;
    margin-left: 5px;
    font-size: 16px;
}
#em_form_close {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    right: 10px;
    top: 12px;
    cursor: pointer;
}
#em_body {
    padding: 15px;
}
#em_footer {
    padding: 15px;
    text-align: right;
}
.dates {
    font-size: 0;
    margin: 10px 0;
}
.date-box {
    width: 330px;
    border: 1px #808080 solid;
    border-radius: 5px;
    height: 40px;
    margin-left: 40px;
    display: inline-block;
    vertical-align: top;
}
.date-box.error {
    border: 1px rgba(255, 0, 0, 0.5) solid;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
.date-box:first-child {
    margin-left: 0;
}
.date-box .text {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 80px;
    line-height: 38px;
    color: #495057;
    background-color: #e9ecef;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.date-box #em_date_start, .date-box #em_date_end {
    display: inline-block;
    vertical-align: top;
    width: 148px;
    border-left: 1px #ced4da solid;
    border-right: 1px #ced4da solid;
    background-color: rgb(233, 236, 239);
}
#event_form_date_start_value, #event_form_date_end_value {
    border: none;
    outline: none;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    width: 100%;
}
.date-box #em_time_start {
    background-color: #fff !important;
}
.date-box #em_time_start, .date-box #em_time_end {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    /*background-color: #00AA00;*/
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(233, 236, 239);
    text-align: center;
}
#event_form_time_start_value, #event_form_time_end_value {
    border: none;
    outline: none;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    width: 60px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
#event_form_time_end_value {
    display: inline-block;
}
#event_form_time_start_value::-webkit-outer-spin-button, #event_form_time_end_value::-webkit-outer-spin-button,
#event_form_time_start_value::-webkit-inner-spin-button, #event_form_time_end_value::-webkit-inner-spin-button
{
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.comment-container {
    width: 700px;
    border: 1px #808080 solid;
    border-radius: 5px;
    height: 80px;
    display: block;
    font-size: 0;
}
.comment-container.error {
    border: 1px rgba(255, 0, 0, 0.5) solid;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
.comment-container .text{
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 120px;
    line-height: 78px;
    color: #495057;
    background-color: #e9ecef;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 1px #ced4da solid;
}
.comment-container #em_comment {
    width: 578px;
    display: inline-block;
    vertical-align: top;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.comment-container #event_form_comment_value {
    border: none;
    outline: none;
    height: 78px;
    font-size: 14px;
    padding: 15px;
    color: #495057;
    width: 100%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.select-container {
    width: 700px;
    border: 1px #808080 solid;
    border-radius: 5px;
    height: 40px;
    display: block;
    font-size: 0;
    margin: 10px 0;
}
.select-container.error {
    border: 1px rgba(255, 0, 0, 0.5) solid;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
.select-container .text {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 80px;
    line-height: 38px;
    color: #495057;
    background-color: #e9ecef;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 1px #ced4da solid;
}
.select-container #em_user {
    width: 618px;
    display: inline-block;
    vertical-align: top;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
#event_form_user_value {
    border: none;
    outline: none;
    height: 38px;
    font-size: 14px;
    padding: 0 15px;
    color: #495057;
    width: 578px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 38px;
}
#user_clear_sel_btn {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 38px;
    text-align: center;
    cursor: pointer;
    background-color: #808080;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 14px;
    line-height: 38px;
    color: #e9ecef;
}
#user_spinner {
    font-size: 14px;
    width: 40px;
    height: 38px;
    display: inline-block;
    text-align: center;
    line-height: 38px;
}

/*service*/
.select-container-multiple {
    width: 700px;
    border: 1px #808080 solid;
    border-radius: 5px;
    min-height: 40px;
    display: table;
    font-size: 0;
    margin: 10px 0;
}
.select-container-multiple.error {
    border: 1px rgba(255, 0, 0, 0.5) solid;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
.select-container-multiple .text {
    font-size: 14px;
    color: #495057;
    background-color: #e9ecef;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 1px #ced4da solid;
    text-align: center;
    width: 80px;
    display: table-cell;
    vertical-align: middle;
}


.select-container-multiple #em_service {
    width: 618px;
    display: table;
    min-height: 38px;
    grid-template-columns: 1fr 40px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
#event_form_service_value {
    border: none;
    outline: none;
    min-height: 38px;
    display: table-cell;
    font-size: 14px;
    padding: 0 15px;
    color: #495057;
    width: 578px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 38px;
}
#service_clear_sel_btn {
    background-color: #808080;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 14px;
    text-align: center;
    color: #e9ecef;
    width: 40px;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}
#service_spinner {
    font-size: 14px;
    width: 40px;
    height: 38px;
    display: inline-block;
    text-align: center;
    line-height: 38px;
}

/*clients*/
.select-client-container {
    width: 700px;
    border: 1px #808080 solid;
    border-radius: 5px;
    height: 40px;
    display: block;
    font-size: 0;
    margin: 10px 0;
}
.select-client-container.error {
    border: 1px rgba(255, 0, 0, 0.5) solid;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
.select-client-container .text {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 80px;
    line-height: 38px;
    color: #495057;
    background-color: #e9ecef;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 1px #ced4da solid;
}
.select-client-container #em_client {
    width: 618px;
    display: inline-block;
    vertical-align: top;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
#event_form_client_value {
    border: none;
    outline: none;
    height: 38px;
    font-size: 14px;
    padding: 0 15px;
    color: #495057;
    width: 498px;
    line-height: 38px;
}
#client_clear_sel_btn {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 38px;
    text-align: center;
    cursor: pointer;
    background-color: #808080;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 14px;
    line-height: 38px;
    color: #e9ecef;
}
#client_create_btn {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 38px;
    text-align: center;
    cursor: pointer;
    background-color: #5cb85c;
    font-size: 14px;
    line-height: 38px;
    color: #e9ecef;
}
#client_edit_btn {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 38px;
    text-align: center;
    cursor: pointer;
    background-color: #337ab7;
    font-size: 14px;
    line-height: 38px;
    color: #e9ecef;
}
#client_spinner {
    font-size: 14px;
    width: 40px;
    height: 38px;
    display: inline-block;
    text-align: center;
    line-height: 38px;
}

/*validate*/
#validate-container {
    margin: 10px 0;
}
#validate-container ul {
    display: none;
    padding: 15px 30px;
    width: 700px;
}

/*footer*/
#em_footer span {
    margin: 0 5px;
}
#em_footer span:first-child {
    margin-left: 0;
}

/*menu users*/
#menu_users {
    height: 40px;
    background-color: #fff;
    font-size: 0;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 21px;
    margin-top: 40px;
}
#menu_users ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 40px;
    font-size: 0;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 30px;
    white-space: nowrap;
    transition: all .5s cubic-bezier(0.18, 0.89, 0.57, 1.12);
}
#menu_users ul li {
    line-height: 40px;
    padding: 0 20px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    cursor: pointer;
}
#menu_users ul li.active {
    font-weight: bolder;
}
#menu_users span {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    width: 20px;
    z-index: 1;
    top: 0;
    background-color: #fff;
    color: #0288d1;
}
#menu_users span.disabled {
    color: #bfbfbf;
    /*pointer-events: none;*/
    cursor: not-allowed;
}
#mu_btn_prev {
    left: 0;
}
#mu_btn_prev:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 40px;
    background: linear-gradient(to right, #ffffff, rgba(0, 255, 0, 0));
    top: 0;
    left: 20px;
}
#mu_btn_next {
    right: 0;
}
#mu_btn_next:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 40px;
    background: linear-gradient(to left, #ffffff, rgba(0, 255, 0, 0));
    top: 0;
    right: 20px;
}
/*******************************************************************************/

/*Модальное окно отменить запись*/
#modal_cancel_event {
    position: absolute;
    width: 400px;
    background-color: #fff;
    z-index: 101;
    display: none;
    border-radius: 10px;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.3);
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -140px;
}
#mce_header {
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px #ced4da solid;
    padding: 15px;
}
#mce_header i{
    color: #808080;
}
#mce_title {
    color: #808080;
    margin-left: 5px;
    font-size: 16px;
}
#mce_form_close {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    right: 10px;
    top: 12px;
    cursor: pointer;
}
#mce_body {
    padding: 15px;
}
#mce_footer {
    padding: 15px;
    text-align: right;
}
.mce-comment-container {
    width: 370px;
    border: 1px #808080 solid;
    border-radius: 5px;
    height: 80px;
    display: block;
    font-size: 0;
}
.mce-comment-container.error {
    border: 1px rgba(255, 0, 0, 0.5) solid;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
.mce-comment-container .text{
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 120px;
    line-height: 78px;
    color: #495057;
    background-color: #e9ecef;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 1px #ced4da solid;
}
.mce-comment-container textarea {
    width: 248px;
    display: inline-block;
    vertical-align: top;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    outline: none;
    height: 78px;
    font-size: 14px;
    padding: 15px;
    color: #495057;
}
/*validate*/
#mce_validate_container {
    margin: 10px 0;
}
#mce_validate_container ul {
    /*display: none;*/
    padding: 15px 30px;
    width: 370px;
}
/*Template event body*/
.template-event-body {
    /*background-color: #0288d1;*/
    border-radius: 3px;
    color: #fff;
    margin-left: 1px;
    /*height: 40px;*/
}

/*my tabs scale 15/20/30*/
.dhx_scale_times {
    position: absolute;
    right: 200px;
    top: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px #0288d1 solid;
    border-radius: 2px;
    height: 30px;
}
.dhx_scale_times li {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    cursor: pointer;
    height: 28px;
    line-height: 28px;
    color: #0288d1;
}
.dhx_scale_times li.active {
    background-color: #0288d1;
    color: #fff;
}

.dhx_scale_holder, .dhx_scale_holder_now {
    background-image: url("../img/scale44.png");
}

.blue_section {
    background-color: rgba(65, 105, 225, 0.25);
}
.red_section {
    background-color: rgba(178, 34, 34, 0.25);
}
.gray_section {
    background-color: rgba(159, 181, 200, 0.25);
}

.dhx_scheduler_month .dhx_marked_timespan {
    display: block;
}
/***************************event***********************************/
.dhx_cal_event {
    overflow: hidden;
    z-index: 0;
}
.dhx_cal_event .dhx_title {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.dhx_cal_event .dhx_body {
    padding: 0;
    border: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.dhx_cal_event .dhx_body div {
    padding: 3px 8px;
    border-radius: 3px;
    word-break: break-all;
}
.dhx_cal_event:hover {
    overflow: inherit;
    z-index: 1;
    height: initial!important;
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);*/
}
.dhx_cal_event:hover .dhx_body {
    /*box-shadow: 0 20px 15px rgba(0, 0, 0, 0.6);*/
    /*height: 100%!important;*/
    /*height: initial!important;*/
}
.dhx_cal_event .dhx_event_resize {
    display: none !important;
}
/*Заголовок дата календаря*/
.dhx_cal_navline .dhx_cal_date {
    width: initial;
    text-align: initial;
    left: initial;
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.past-day .dhx_month_head {
    background-color: #e7edf1;
}
.past-day-red .dhx_month_head {
    background-color: rgba(178, 34, 34, 0.25);
}
.dhx_month_head a {
    text-decoration: none;
    color: #1B5DFB;
    display: block;
    float: right;
    font-size: 16px;
}
.past-day .dhx_month_head a {
    /*background-color: #fff;*/
}
.dhx_cal_event_clear {
    z-index: 1;
}
.dhx_time_block {
    z-index: 0;
}
/*Спинер на календаре*/
.spinner-fon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 59, 59, 0.37);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}
.spinner-fon span {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
    z-index: 100000;
}
/*Выделить другим цветом текущий день*/
.dhx_now .dhx_month_head, .dhx_now .dhx_month_body {
    background-color: #96ec97 !important;
}
/* Дни недели сделать жирным */
.dhx_cal_header .dhx_scale_bar {
    font-weight: bold;
}
/*Курсор при  наведение на хедер события*/
.dhx_cal_event .dhx_title {
    cursor: all-scroll !important;
    font-weight: 500;
}
/*hide tabs by clientModal*/
.tabs-nav .label-tab {
    display: none !important;
}
.bold-title {
    font-family: "Roboto", Arial;
    font-weight: 600;
}