.header {

}
.header .title {
    font-size: 20px;
    display: block;
    width: 100%;
    text-align: center;
}
/***************************************Расписание*********************************************************************/
.schedule-wrapper {
    display: table;
    vertical-align: top;
    width: 100%;
}
.schedule-wrapper .title {
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.schedule-wrapper .caption {
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}
.schedule-wrapper .hint {
    display: block;
    font-size: 14px;
    color: #999;
    margin-left: 15px;
}
/*Один вариант графика*/
.schedule-container {
    display: table;
    width: 100%;
    padding: 0 10px 10px 10px;
}
.schedule {
    background-color: #eceef0;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    display: table-cell;
    float: left;
    margin: 5px 0;
}
.schedule .title-input {
    display: inline-block;
    line-height: 26px;
}
.schedule .title-input input {
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    pointer-events: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    color: #666;
}
.schedule .title-input span {
    font-size: 16px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: #999;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}
.schedule .title-input.edit input {
    pointer-events: inherit;
    background-color: #fff;
}
.schedule .desc {
    font-size: 14px;
    color: #929292;
    margin-left: 5px;
    display: inline-block;
    text-decoration: underline;
}
.schedule .add-schedule-btn {
    background-color: #4353ff;
    height: 26px;
    line-height: 26px;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 13px;
    color: #fff;
    display: inline-block;
    float: right;
}
.schedule .add-schedule-btn i {
    margin-left: 5px;
}
/********************header btns panel***********************/
.header-btns-panel {
    float: right;
    margin-top: 2px;
}
.header-btns-panel span {
    height: 26px;
    line-height: 24px;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 13px;
    display: inline-block;
    margin-left: 5px;
}
.header-btns-panel span i {
    margin-left: 5px;
}
.header-btns-panel .btn-cancel {
    background-color: #989da5;
    border: 1px solid #989da5;
    color: #fff;
}
.header-btns-panel .btn-save {
    background-color: #4353ff;
    border: 1px solid #4353ff;
    color: #fff;
}
/***********************************schedule-days-box*************************************/
.schedule-days-box {
    display: table;
    width: 100%;
    margin-top: 20px;
}
.schedule-single-day {
    display: table-cell;
    width: 14%;
    padding: 0 5px;
}
.schedule-single-day .title {
    display: block;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    font-weight: normal;
    color: #616161;
}
.schedule-single-day .day-block {
    border: 1px #c6cbd4 solid;
    background-color: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.schedule-single-day .day-block.disabled:before {
    content: '';
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #dcdcdc;
}
.schedule-single-day .day-block input {
    height: 30px;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 60px;
    border-bottom: 1px #dadada solid;
    cursor: pointer;
}
.schedule-single-day .day-block input::-webkit-outer-spin-button,
.schedule-single-day .day-block input::-webkit-inner-spin-button
{
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.schedule-single-day .day-block span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}
/*********************************range box*****************************************/
.range-box {
    margin: 15px 0 15px -12px;
}
.vdp-datepicker {
    display: inline-block;
}
.vdp-datepicker input {
    width: 100px;
    text-align: center;
    height: 30px;
    border: 1px #c6cbd4 solid;
    line-height: 28px;
}
.range-box .start,
.range-box .end {
    color: #616161;
    margin-right: 10px;
    margin-left: 20px;
    display: inline-block;
}
.range-box .input-date {
    width: 100px;
    text-align: center;
    height: 30px;
    border: 1px #c6cbd4 solid;
    line-height: 28px;
    display: inline-block;
    background-color: #fff;
}
.add-range {
    font-size: 16px;
    cursor: pointer;
    color: #616161;
    margin-left: 5px;
}
.add-range i {
    margin-right: 10px;
}
/*********************************************tabs*********************************************************************/
.tabs-nav {
    display: table;
    width: 100%;
    height: 40px;
    border-bottom: 2px #c6cbd4 solid;
    margin-bottom: 10px;
}
.tabs-nav a {
    display: table-cell;
    width: 50%;
    text-decoration: none;
    text-align: center;
    color: #c6cbd4;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
}
.tabs-nav a.active {
    color: #347cff;
    position: relative;
}
.tabs-nav a.active:before {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -3px;
    border-radius: 2px;
    background-color: #347cff;
}