/*Пагинация*/
.pagination-box {
    margin: 20px 0;
}
.pagination-box button {
    border: none;
    background-color: #edeef1;
    width: 30px;
    display: inline-block;
    height: 30px;
    border-radius: 15px;
    outline: none;
    margin: 0 3px;
}
.pagination-box button.text-white {
    background-color: #4b74ff;
}
.pagination-box button:hover {
    background-color: #4b74ff;
}
.pagination-box button.text-white span {
    color: #fff;
}
.pagination-box button:hover span {
    color: #fff;
}
.pagination-box button span {

}
[v-cloak] > * {
    display:none;
}