
/*content*/
.header {
    border-bottom: 1px rgba(73, 80, 87, 0.54) solid;
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-left: 80px;
    padding-top: 12px;
}
.header .title {
    font-size: 20px;
    font-weight: bold;
}
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
    display: none;
}
.overlay.open {
    display: block;
}
/*Обычная синяя кнопка*/
.btn-def {
    background-color: #4b74ff;
    color: #fff;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    padding: 0 15px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.btn-def:hover {
    text-decoration: none;
    color: #fff;
}
.header .delete-btn {
    display: inline-block;
    border: 1px #4b74ff solid;
    height: 30px;
    border-radius: 15px;
    padding: 0 15px;
    cursor: pointer;
    color: #4b74ff;
    line-height: 28px;
    float: right;
    margin-top: 10px;
    margin-right: 15px;
}
.header .delete-btn i {
    color: #4b74ff;
    margin-left: 5px;
}
.header .add-model-btn {
    margin-left: 15px;
}
/*****************************search********************************/
.search-box {
    display: inline-block;
    border: 1px #4b74ff solid;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 0;
    vertical-align: middle;
    margin-left: 15px;
}
.search-box.open input {
    width: 200px;
}
.search-box .icon {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #4b74ff;
    font-size: 14px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.search-box .icon-close {
    display: none;
}
.search-box input {
    width: 0;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    vertical-align: top;
    border: none;
    outline: none;
    transition: all .3s;
    font-size: 14px;
}
.search-box span {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #4b74ff;
    font-weight: bold;
    font-size: 14px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
/****************************Filter-search-box********************************/
.filter-search-box {
    display: inline-block;
    border: 1px #4b74ff solid;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 0;
    vertical-align: middle;
    margin-left: 15px;
}
.filter-search-box.open input {
    width: 200px;
}
.filter-search-box .filter-icon {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #4b74ff;
    font-size: 14px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.filter-search-box .filter-icon-close {
    display: none;
}
.filter-search-box input {
    width: 0;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    vertical-align: top;
    border: none;
    outline: none;
    transition: all .3s;
    font-size: 14px;
}
.filter-search-box span {
    display: inline-block;
    vertical-align: top;
    width: 160px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #4b74ff;
    font-weight: bold;
    font-size: 14px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
/*delete modal users*/
#delete_user_modal {
    padding: 30px 15px;
    border-radius: 10px;
    background-color: #fff;
    z-index: 1;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    display: none;
    width: 400px;
    text-align: center;
    position: fixed;
    left: 50%;
    margin-left: -200px;
    top: 100px;
}
#delete_user_modal.open {
    display: inline-block;
}
#delete_user_modal .close-modal {
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    right: 0;
    top: 0;
    z-index: 2;
    color: #5c5c5c;
}
.delete-users-container {
    width: 370px;
    height: 30px;
    border: 1px #4b74ff solid;
    border-radius: 15px;
    font-size: 0;
    margin-top: 10px;
    text-align: left;
}
.delete-users-container .btn-delete-user {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #fff;
    background-color: #4b74ff;
    width: 100px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.delete-users-container div {
    display: inline-block;
    vertical-align: top;
    outline: none;
    margin-left: 18px;
}
.delete-users-container div .select2 {
    width: 250px;
    display: inline-block;
    font-size: 14px;
    border: none !important;
    outline: none !important;
}
.delete-users-container div .select2 .selection .select2-selection {
    background-color: #fff;
    border: none;
    border-radius: 0;
    height: 28px;
    outline: none;
}

.delete-users-container div .select2 .selection .select2-selection .select2-selection__rendered {
    line-height: 28px;
}
.delete-users-container div .select2 .selection .select2-selection .select2-selection__arrow {
    top: 2px;
}

.delete-users-container select {
    border: none;
    outline: none;
    height: 38px;
    font-size: 14px;
    padding: 0 15px;
    color: #495057;
    width: 250px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 28px;
}
/********************************************Single page user**********************************************************/
.wrapper {
    display: table;
    width: 100%;
}
.form-wrapper {
    display: table-cell;
    vertical-align: top;
    width: 450px;
    padding-left: 15px;
}
.form-wrapper .form-fon {
    background-color: #eceef0;
    width: 450px;
    padding: 15px;
    border-radius: 10px;
}
.form-wrapper .form-fon .title {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    display: block;
    text-align: center;
}
.form-wrapper .form-fon .form-header {
    width: 450px;
    font-size: 0;
}
.form-fon .form-header .image {
    width: 150px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}
.form-fon .form-header .image label {
    margin: 0;
}
.form-fon .form-header .image img {
    width: 125px;
    height: auto;
    cursor: pointer;
}
.form-fon .form-header .socials-box {
    width: 270px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin-left: 50px;
}
.form-fon .form-header .socials-box .soc-elem {
    padding-left: 50px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.form-fon .form-header .socials-box .soc-elem.facebook {
    background-image: url("/img/fb-logo.png");
}
.form-fon .form-header .socials-box .soc-elem.instagram {
    background-image: url("/img/in-logo.png");
    margin-top: 5px;
}
.form-fon .form-header .socials-box .soc-elem input {
    outline: none;
    border: 1px #c6cbd4 solid;
    width: 220px;
    height: 30px;
    padding: 0 10px;
    line-height: 28px;
}
.form-fon .form-header .socials-box .soc-elem input.error {
    border: 1px rgba(255, 0, 0, 0.5) solid;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
/********************fio container*************************/
.fio-container {
    margin: 15px 0;
}
.fio-container .text {
    width: 60px;
    display: inline-block;
    color: #737272;
}
.fio-container input {
    outline: none;
    border: 1px #c6cbd4 solid;
    width: 355px;
    height: 30px;
    padding: 0 10px;
    line-height: 28px;
}
.fio-container input.error {
    border: 1px rgba(255, 0, 0, 0.5) solid;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
/********************role container*****************************/
.role-container {
    margin: 15px 0;
}
.role-container .text {
    width: 60px;
    display: inline-block;
    vertical-align: sub;
    color: #737272;
}
.role-container .role-box {
    width: 355px;
    display: inline-block;
    vertical-align: top;
    padding-right: 2px;
}
.role-container .role-box.error {
    border: 1px rgba(255, 0, 0, 0.5) solid;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
.role-container .role-box .select2-container .select2-selection--single {
    height: 30px;
    outline: none;
    border-radius: 0;
    border: 1px #c6cbd4 solid;
}
/************************************color container*********************************/
.color-container {
    margin: 15px 0;
}
.color-container .text {
    width: 60px;
    display: inline-block;
    vertical-align: middle;
    color: #737272;
}
.color-container .color-component {
    display: inline-block;
    width: 200px;
    vertical-align: middle;
}
/*input что в color picker*/
.vue-swatches__fallback__input--wrapper {
    /*width: 152px !important;*/
}
.vue-swatches__container {
    /*width: 220px !important;*/
    /*overflow: hidden !important;*/
}
/**********************************services container****************************************/
.services-container {
    margin: 15px 0;
}
.services-container .text {
    width: 60px;
    display: inline-block;
    vertical-align: sub;
    color: #737272;
}
.services-container .services-component {
    width: 355px;
    display: inline-block;
    vertical-align: top;
}
.services-container .services-component.error {
    border: 1px rgba(255, 0, 0, 0.5) solid;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
.services-container .services-component .select2-container--default .select2-selection--multiple {
    border-radius: 0;
    border: 1px #c6cbd4 solid !important;
}
/**************************************phones emails***********************************************/
/*group*/
.group {
    display: table;
    padding: 10px 0;
}
#phone_insert {
    margin-left: 60px;
}
#phone_insert span i {
    font-family: 'Roboto';
    margin-left: 5px;
    font-size: 16px;
}
.group .btn-plus {
    cursor: pointer;
    color: #545454;
    font-size: 20px;
}
.group label {
    display: table-cell;
    width: 64px;
    font-weight: normal;
    color: #737272;
}
.group input {
    display: table-cell;
    width: 355px;
    outline: snow;
    border: 1px #c6cbd4 solid;
    height: 30px;
    line-height: 28px;
    padding: 0 10px;
    color: #737272;
    position: relative;
}
.group input.error, .group .read_only.error {
    border: 1px rgba(255, 0, 0, 0.5) solid;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
.group .wrapper-input {
    position: relative;
}
.group .wrapper-input .icon {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0;
    top: 0;
    z-index: 1;
    text-align: center;
    line-height: 30px;
    color: #c6cbd4;
}
.group .wrapper-input input {
    padding-right: 30px;
}
/******************************************btns panel**********************************************/
.btns-panel {
    text-align: right;
    margin-right: -10px;
}
.btns-panel span {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    border-radius: 15px;
    padding: 0 15px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
}
.btns-panel .userForm-btn-cancel {
    background-color: #989da5;
}
.btns-panel .userForm-btn-save {
    background-color: #4353ff;
}
/********************password container*************************/
.password-container {
    margin: 15px 0;
}
.password-container .text {
    width: 60px;
    display: inline-block;
    color: #737272;
}
.password-container input {
    outline: none;
    border: 1px #c6cbd4 solid;
    width: 355px;
    height: 30px;
    padding: 0 10px;
    line-height: 28px;
}
.password-container input.error {
    border: 1px rgba(255, 0, 0, 0.5) solid;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

/***************************************Расписание*********************************************************************/
.schedule-wrapper {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}
.schedule-wrapper .title {
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.schedule-wrapper .caption {
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}
.schedule-wrapper .hint {
    display: block;
    font-size: 14px;
    color: #999;
    margin-left: 15px;
}
/*Один вариант графика*/
.schedule-container {
    display: table;
    width: 100%;
    padding: 0 10px 10px 10px;
}
.schedule {
    background-color: #eceef0;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    display: table-cell;
    float: left;
    margin: 5px 0;
}
.schedule.open {
    box-shadow: 0 0 10px rgba(39, 39, 39, 0.5);
}
.schedule .title {
    text-align: left;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    color: #666;
}
.schedule .title-input {
    display: inline-block;
    line-height: 26px;
}
.schedule .title-input input {
    font-weight: bold;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    pointer-events: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    color: #666;
}
.schedule .title-input .toggle-edit-name-btn {
    font-size: 16px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: #999;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}
.schedule .title-input.edit input {
    pointer-events: inherit;
    background-color: #fff;
}
.schedule .desc {
    font-size: 14px;
    color: #929292;
    margin-left: 5px;
    display: inline-block;
    text-decoration: underline;
}
.schedule .desc-exc {
    font-size: 14px;
    color: #929292;
    margin-left: 5px;
    display: inline-block;
    text-decoration: underline;
    vertical-align: -webkit-baseline-middle;
}
.schedule .add-schedule-btn {
    background-color: #4353ff;
    height: 26px;
    line-height: 26px;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 13px;
    color: #fff;
    display: inline-block;
    float: right;
}
.schedule .add-schedule-btn i {
    margin-left: 5px;
}
/********************header btns panel***********************/
.header-btns-panel {
    float: right;
    margin-top: 2px;
}
.header-btns-panel span {
    height: 26px;
    line-height: 24px;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 13px;
    display: inline-block;
    margin-left: 5px;
}
.header-btns-panel span i {
    margin-left: 5px;
}
.header-btns-panel .btn-remove {
    background-color: #fff;
    border: 1px solid #4353ff;
    color: #4353ff;
}
.header-btns-panel .btn-cancel {
    background-color: #989da5;
    border: 1px solid #989da5;
    color: #fff;
}
.header-btns-panel .btn-save {
    background-color: #4353ff;
    border: 1px solid #4353ff;
    color: #fff;
}
/***********************************schedule-days-box*************************************/
.schedule-days-box {
    display: table;
    width: 100%;
    margin-top: 20px;
}
.schedule-single-day {
    display: table-cell;
    width: 14%;
    padding: 0 5px;
}
.schedule-single-day .title {
    display: block;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    font-weight: normal;
    color: #616161;
}
.schedule-single-day .day-block {
    border: 1px #c6cbd4 solid;
    background-color: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.schedule-single-day .day-block.disabled:before {
    content: '';
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #dcdcdc;
}
.schedule-single-day .day-block input {
    height: 30px;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 63px;
    border-bottom: 1px #dadada solid;
    cursor: pointer;
}
.schedule-single-day .day-block input::-webkit-outer-spin-button,
.schedule-single-day .day-block input::-webkit-inner-spin-button
{
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.schedule-single-day .day-block span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}
/*********************************range-status-box***************************************/
.range-status-box {
    margin-top: 15px;
}
.range-status-box .title {
    font-size: 14px;
    text-align: left;
    font-weight: normal;
    color: #616161;
    margin-left: 5px;
}
.toggle-btn {
    width: 40px;
    height: 20px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    margin-left: 10px;
}
.toggle-btn i {
    background-color: #fff;
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 9px;
    position: absolute;
    top: 0;
}
.toggle-btn.on {
    background-color: #4353ff;
    border: 1px solid #4353ff;
}
.toggle-btn.on i {
    right: 0;
}
.toggle-btn.off {
    border: 1px solid #989da5;
    background-color: #989da5;
}
.toggle-btn.off i {
    left: 0;
}
/*********************************range box*****************************************/
.range-box {
    margin: 15px 0 15px -12px;
}
.vdp-datepicker {
    display: inline-block;
}
.vdp-datepicker input {
    width: 100px;
    text-align: center;
    height: 30px;
    border: 1px #c6cbd4 solid;
    line-height: 28px;
    vertical-align: middle;
}
.range-box .start,
.range-box .end {
    color: #616161;
    margin-right: 10px;
    margin-left: 20px;
    display: inline-block;
}
.range-box .input-date {
    width: 100px;
    text-align: center;
    height: 30px;
    border: 1px #c6cbd4 solid;
    line-height: 28px;
    display: inline-block;
    background-color: #fff;
}
.add-range {
    font-size: 16px;
    cursor: pointer;
    color: #616161;
    margin-left: 5px;
}
.add-range i {
    margin-right: 10px;
}
/********************************************exceptions (Исключения)***************************************************/
.add-exception-box {
    display: inline-block;
    float: right;
}
.add-exception-box .add-header {
    font-size: 0;
}
.add-exception-box .add-header .select-box {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
.add-exception-box .add-header .select-box .select2-container--default .select2-selection--single {
    border: 1px solid #4b74ff;
    border-radius: 0;
    outline: none;
    width: 400px;
}
.add-exception-box .add-header .select-box .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 27px;
}
.add-exception-box .add-header .add-history-btn {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 28px;
    text-align: center;
    cursor: pointer;
    background-color: #4353ff;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 14px;
    line-height: 28px;
    color: #fff;
}
/************************************************exception-single******************************************************/
.schedule span.to {
    text-align: center;
    width: 30px;
    display: inline-block;
    color: #999;
}
.schedule .name {
    width: 230px;
    color: #999;
    display: inline-block;
}
.schedule .times-box {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    border: 1px #c6cbd4 solid;
    background-color: #fff;
}
.schedule .times-box span {

}
.schedule .times-box input {
    outline: none;
    padding: 0 10px;
    line-height: 28px;
    height: 28px;
    border: none;
    font-size: 14px;
    vertical-align: top;
}
.schedule .times-box input::-webkit-outer-spin-button,
.schedule .times-box input::-webkit-inner-spin-button
{
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
/*********************************************tabs*********************************************************************/
.tabs-nav {
    display: table;
    width: 100%;
    height: 40px;
    border-bottom: 2px #c6cbd4 solid;
    margin-bottom: 10px;
}
.tabs-nav a {
    display: table-cell;
    width: 50%;
    text-decoration: none;
    text-align: center;
    color: #c6cbd4;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
}
.tabs-nav a.active {
    color: #347cff;
    position: relative;
}
.tabs-nav a.active:before {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -3px;
    border-radius: 2px;
    background-color: #347cff;
}
.form-header .user-pic {
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
}
.form-header .user-pic span {
    color: #000;
    font-size: 20px;
}